.logo{
  height: 100px;
}

.menu{
  display: flex;
  gap: 40px;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #c9c592;
  padding: 17px;
}
.menu li{
  list-style: none;
}

.menu a{
  text-decoration: none;
  color: white;
}

.headerImage{
  margin-top: 15px;
  width: 90%;
  height: 300px;
}

.korteles{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  margin-inline: 15px;
  text-align: left;
}

.korteles div{
  font-size: 15px;
  background-color: #f1eeb9;
}
.korteles h1{
  margin-top: 2px;
}
footer{
  font-size: 15px;
  margin-inline: 15px;
  padding-bottom: 20px;
  display: grid;
  gap: 20px;
}

footer h1{
  margin: 5px
}
.navigation{
  grid-column-start: 2;
}

.navigation div{
  background-color: #ece9bb;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 15px;
  padding-right: 100px;
}

.navigation div a{
  text-decoration: none;
  color: black;
}
